<html>
  <head>
    <style>
      body {
        font-family: Helvetica, sans-serif;
        padding-right: 30px;
        padding-left: 30px;
      }
      p {
        margin-top: 5px;
        margin-bottom: 5px;
      }
    </style>
  </head>
  <body>
    <div style="text-align: center;">
      <img width="220" alt="image_logo" src="{{record.company.logo_link}}" />
    </div>
    <br />
    <p>Estimado cliente</p>
    <p><b>{{record.party.rec_name}}</b></p>
    <br />
    <p>¡Bienvenido al {{record.company.party.commercial_name}}!</p>
    Le damos una calurosa bienvenida a nuestra hermosa ciudad. A continuación
    encontrará la información relacionada con su reserva.<br />
    <br />
    <table class="default">
      {% for line in record.lines %}
      <tr>
        <td>Número de Reserva / Booking:</td>
        <td><b>{{record.number}}</b></td>
      </tr>
      <tr>
        <td>Acomodación / Accommodation:</td>
        <td><b>{{line.product.rec_name}}</b></td>
      </tr>
      <tr>
        <td>Canal / Channel:</td>
        <td><b>{{record.channel and record.channel.name or ''}}</b></td>
      </tr>
      <tr>
        <td>Fecha de llegada / Arrival date:</td>
        <td><b>{{line.arrival_date}}</b></td>
      </tr>
      <tr>
        <td>Fecha de salida / Departure date:</td>
        <td><b>{{line.departure_date}}</b></td>
      </tr>
      <tr>
        <td>Número de personas / Hosts quantity:</td>
        <td><b>{{line.host_quantity}}</b></td>
      </tr>
      {% endfor %}
    </table>
    <br />
    <p><b>Información Relevante / Relevant Information</b></p>
    <p>
      {{record.company.party.commercial_name}} tiene aprobados los protocolos de
      bioseguridad por la autoridad local.
    </p>
    <br />
    <p>Atentamente / Best regards,</p>
    <p>
      <b
        >Servicio al Cliente / Service Customer |
        {{record.company.party.commercial_name}}</b
      >
    </p>
    <p />

    <p>{{record.company.party.addresses[0].street}}</p>
    <p>{{record.company.party.city_name}}</p>
    <p>Teléfono {{record.company.party.phone}}</p>
    <p>Cel. {{record.company.party.mobile}}</p>
    <p>
      <a href="{{record.company.party.website}}">
        {{record.company.party.website}}
      </a>
    </p>
    <div style="margin-top: 30px; margin-bottom: 10px;">
      <img
        alt="Software for hotels"
        src="https://res.cloudinary.com/presik-com/image/upload/v1661200297/banner_emails_jumq4s.png"
      />
    </div>
    <p style="text-align: center;">
      <a href="https://www.presik.com" style="color: #554400ff;">
        Powered by presik.com
      </a>
    </p>
  </body>
</html>
