<!DOCTYPE html>
<!DOCTYPE html>
<html>
  <body>
    <p>Dear customer, {{ record.approved_by.name }}</p>
    <p>Your booking has been confirmed No. <b> {{record.number }}<b>:</p>
    Room: <b>{{ record.room }}</b><br>
    Check-In Date: <b>{{ record.check_in }}</b><br>
    Check-Out Date: <b>{{ record.check_out }}</b><br>
    </b><br>

    <p>-------------------------<br>
    {{ record.company and record.company.party.name }}<br>
    </p>
  </body>
</html>
